<div ng-controller="DatatableTest.SimpleTableTestController">
  <div class="row">
    <div class="section-header">

      <div class="section-filter">
        <input type="text" class="search-query" placeholder="Filter..." ng-model="mygrid.filterOptions.filterText">
        <i class="fa fa-remove clickable" title="Clear filter" ng-click="mygrid.filterOptions.filterText = ''"></i>
      </div>

    </div>
  </div>

  <h3>hawtio-simple-table example</h3>

  <table class="table table-striped table-bordered" hawtio-simple-table="mygrid"></table>

  <div class="row">
    <p>Selected folks:</p>
    <ul>
      <li ng-repeat="person in mygrid.selectedItems">{{person.name}}</li>
    </ul>

    <p>
       <a class="btn" href="" ng-click="mygrid.multiSelect = !mygrid.multiSelect">multi select is: {{mygrid.multiSelect}}</a>
    </p>
  </div>
</div>
