<div ng-controller="UI.UITestController1">
  <script type="text/ng-template" id="jsplumbTemplate">
<div class="ex-node-container" hawtio-jsplumb draggable="true" layout="true">
  <!-- Nodes just need to have an ID and the jsplumb-node class -->
  <div ng-repeat="node in nodes"
       id="{{node}}"
       anchors="Continuous"
       class="jsplumb-node ex-node">
    <i class="fa fa-plus clickable" ng-click="createEndpoint(node)"></i> Node: {{node}}
  </div>
  <!-- You can specify a connect-to attribute and a comma separated list of IDs to connect nodes -->
  <div id="node3"
       class="jsplumb-node ex-node"
       anchors="Left,Right"
       connect-to="node1,node2">
    <i class="fa fa-plus clickable" ng-click="createEndpoint('node3')"></i> Node 3
  </div>
  <!-- Expressions and stuff will work too -->
  <div ng-repeat="node in otherNodes"
       id="{{node}}"
       class="jsplumb-node ex-node"
       anchors="Continuous"
       connect-to="{{otherNodes[$index - 1]}}"><i class="fa fa-plus clickable" ng-click="createEndpoint(node)"></i> Node: {{node}}</div>
</div>
  </script>

  <div class="row">
    <div class="col-md-6">
      <h3>JSPlumb</h3>
      <p>Use to create an instance of JSPlumb</p>
      <h5>Example HTML</h5>
      <div hawtio-editor="jsplumbEx" mode="fileUploadExMode"></div>
    </div>
    <div class="col-md-6">
      <h5>Live example</h5>
      <div class="ex-node-container" hawtio-jsplumb draggable="true" layout="true">
        <!-- Nodes just need to have an ID and the jsplumb-node class -->
        <div ng-repeat="node in nodes"
          id="{{node}}"
          anchors="Continuous"
          class="jsplumb-node ex-node">
          <i class="fa fa-plus clickable" ng-click="createEndpoint(node)"></i> Node: {{node}}
        </div>
        <!-- You can specify a connect-to attribute and a comma separated list of IDs to connect nodes -->
        <div id="node3"
          class="jsplumb-node ex-node"
          anchors="Left,Right"
          connect-to="node1,node2">
          <i class="fa fa-plus clickable" ng-click="createEndpoint('node3')"></i> Node 3
        </div>
        <!-- Expressions and stuff will work too -->
        <div ng-repeat="node in otherNodes"
          id="{{node}}"
          class="jsplumb-node ex-node"
          anchors="Continuous"
          connect-to="{{otherNodes[$index - 1]}}"><i class="fa fa-plus clickable" ng-click="createEndpoint(node)"></i> Node: {{node}}</div>
      </div>
    </div>
  </div>
</div>
