<div ng-controller="UI.UITestController1">

  <script type="text/ng-template" id="jsplumbTemplate">
    <div class="ex-node-container" hawtio-jsplumb draggable="true" layout="true">
      <!-- Nodes just need to have an ID and the jsplumb-node class -->
      <div ng-repeat="node in nodes"
          id="{{node}}"
          anchors="Continuous"
          class="jsplumb-node ex-node">
        <i class="fa fa-plus clickable" ng-click="createEndpoint(node)"></i> Node: {{node}}
      </div>
      <!-- You can specify a connect-to attribute and a comma separated list of IDs to connect nodes -->
      <div id="node3"
          class="jsplumb-node ex-node"
          anchors="Left,Right"
          connect-to="node1,node2">
        <i class="fa fa-plus clickable" ng-click="createEndpoint('node3')"></i> Node 3
      </div>
      <!-- Expressions and stuff will work too -->
      <div ng-repeat="node in otherNodes"
          id="{{node}}"
          class="jsplumb-node ex-node"
          anchors="Continuous"
          connect-to="{{otherNodes[$index - 1]}}"><i class="fa fa-plus clickable" ng-click="createEndpoint(node)"></i> Node: {{node}}</div>
    </div>
  </script>

  <div class="row">
    <div class="col-md-12">
      <h1>JSPlumb</h1>
      <div class="alert alert-warning">
        <span class="pficon pficon-warning-triangle-o"></span>
        <strong>Deprecated.</strong> Please use <a href="https://github.com/jsplumb/jsPlumb" class="alert-link">jsPlumb</a>.
      </div>
      <p>Use to create an instance of JSPlumb.  The directive works with the markup you define as child elements using the CSS class 'jsplumb-node'.  You can specify the 'connect-to' attribute to join nodes together.  It's possible to use angularjs directives as well, and expressions can be used to create values for 'connect-to'.</p>
      <p>You can define a few functions in your controller's scope and the directive will call back into your code when it renders</p>
      <dl>
        <dt>
          customizeDefaultOptions(defaultOptions)
        </dt>
        <dd>
          Called right before the jsplumb instance is created so that default options can be customized.  Possible values are documented <a href="https://jsplumbtoolkit.com/community/apidocs/classes/jsPlumb.html#property_Defaults">here</a>
        </dd>
        <dt>
          customizeEndpointOptions(jsPlumb, node, options)
        </dt>
        <dd>
          Called whenever the jsplumb directive is going to create a jsplumb endpoint from an element with CSS class 'jsplumb-node'.  The jsplumb instance, node and options that will be used to create the node will be passed in.  This allows for customizing various endpoint options available from jsplumb.
        </dd>
        <dt>
          customizeConnectionOptions(jsPlumb, edge, params, options)
        </dt>
        <dd>
          Called whenever the jsplumb directive is going to create a new jsplumb connection between two endpoints.
        </dd>
        <dt>
          jsPlumbCallback(jsPlumb, nodes, nodesById, transitions);
        </dt>
        <dd>
          Called when the jsplumb directive has drawn all of it's endpoints and connections.  A controller can use this to do additional work or customization when the jsplumb directive has finished doing it's thing.
        </dd>
      </dl>
      <p>The jsplumb directive also reacts to the following event</p>
      <dl>
        <dt>
          jsplumbDoWhileSuspended
        </dt>
        <dd>
          This event allows your controller to pass a function to the jsplumb directive to perform operations on the scene and suspends jsplumb drawing in the meantime.  Use if you need to add or remove nodes from the scene, after which the jsplumb directive will re-render all the connections and endpoints.
        </dd>
      </dl>
      <p>The jsplumb directive recognizes the following configuration:</p>
      <dl>
        <dt>
          draggable
        </dt>
        <dd>
          Turns on or off drag/drop support, when enabled 'jsplumb-node' elements can be dragged with the mouse
        </dd>
        <dt>
          layout
        </dt>
        <dd>
          Turns on or off layout support using dagre.  When enabled, dagre will be used to lay out 'jsplumb-node' elements based on their connections.
        </dd>
        <dt>
          direction
        </dt>
        <dd>
          When 'layout' is enabled this controls whether the directed graph will go left to right or top to bottom.
        </dd>
        <dt>
          node-sep
        </dt>
        <dd>
          The distance between nodes when using 'layout'
        </dd>
        <dt>
          edge-sep
        </dt>
        <dd>
          The distance between connected nodes when using 'layout'
        </dd>
        <dt>
          rank-sep
        </dt>
        <dd>
          The distance between each row of nodes in the directed graph when using 'layout'
        </dd>
        <dt>
          timeout
        </dt>
        <dd>
          How long to wait until the jsplumb directive gathers elements and renders connections.  Defaults to 100 milliseconds, if there's a lot of nodes to render, for example when using ng-repeat with lots of elements, it may be necessary to increase this setting.
        </dd>
      </dl>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5>Example HTML</h5>
      <div hawtio-editor="jsplumbEx" mode="fileUploadExMode"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5>Live example</h5>
      <div class="ex-node-container" hawtio-jsplumb draggable="true" layout="true">
        <!-- Nodes just need to have an ID and the jsplumb-node class -->
        <div ng-repeat="node in nodes"
          id="{{node}}"
          anchors="Continuous"
          class="jsplumb-node ex-node">
          <i class="fa fa-plus clickable" ng-click="createEndpoint(node)"></i> Node: {{node}}
        </div>
        <!-- You can specify a connect-to attribute and a comma separated list of IDs to connect nodes -->
        <div id="node3"
          class="jsplumb-node ex-node"
          anchors="Left,Right"
          connect-to="node1,node2">
          <i class="fa fa-plus clickable" ng-click="createEndpoint('node3')"></i> Node 3
        </div>
        <!-- Expressions and stuff will work too -->
        <div ng-repeat="node in otherNodes"
          id="{{node}}"
          class="jsplumb-node ex-node"
          anchors="Continuous"
          connect-to="{{otherNodes[$index - 1]}}"><i class="fa fa-plus clickable" ng-click="createEndpoint(node)"></i> Node: {{node}}</div>
      </div>
    </div>
  </div>
</div>
