<div ng-controller="UI.UITestController2">
  <script type="text/ng-template" id="popoverExTemplate">
<ul>
  <li ng-repeat="contact in contacts" hawtio-template-popover content="myTemplate" title="Contact details"
      placement="auto">
    {{contact.name}}
  </li>
</ul>
  </script>
  <script type="text/ng-template" id="myTemplate">
    <small>
      <table class="table">
        <tbody>
        <tr ng-repeat="(k, v) in contact track by $index">
          <td class="property-name">{{k}}</td>
          <td class="property-value">{{v}}</td>
        </tr>
        </tbody>
      </table>
    </small>
  </script>
  <div class="row">
    <div class="col-md-6">
      <h3>Template Popover</h3>
      <p>Uses bootstrap popover but lets you supply an angular template to render as the popover body.  For example here's a simple template for the popover body:</p>
      <div hawtio-editor="popoverEx" mode="fileUploadExMode"></div>
      <p>
      You can then supply this template as an argument to hawtioTemplatePopover.  By default it will look for a template in $templateCache called "popoverTemplate", or specify a template for the "content" argument.  You can specify "placement" if you want the popover to appear on a certain side, or "auto" and the directive will calculate an appropriate side ("right" or "left") depending on where the element is in the window.
      </p>
      <dl>
        <dt>
          content
        </dt>
        <dd>
          Template name that the directive will use from $templateCache for the popover body
        </dd>
        <dt>
          title
        </dt>
        <dd>
          Value for the title element of the popup, if not set the popup will have no title element.
        </dd>
        <dt>
          trigger
        </dt>
        <dd>
          Passed to the bootstrap popover 'trigger' argument, defaults to 'auto'
        </dd>
        <dt>
          placement
        </dt>
        <dd>
          Controls where the popup will appear in relation to the element.  Defaults to 'auto', you can also set it to 'left' or 'right'.
        </dd>
        <dt>
          delay
        </dt>
        <dd>
          How long until the popup appears
        </dd>
        <dt>
          container
        </dt>
        <dd>
          DOM element that the popover will be attached to, defaults to 'body'
        </dd>
      </dl>
    </div>
    <div class="col-md-6">
      <h5>HTML Example</h5>
      <div hawtio-editor="popoverUsageEx" mode="fileUploadExMode"></div>
      <h5>Live Example</h5>
      <div class="directive-example">
        <div compile="popoverUsageEx"></div>
      </div>
    </div>
  </div>
</div>
